---
---
@import "minima";
hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

td, th {
  border: 1px solid transparent;
  height: 30px;
}

th {
  background: #DFDFDF;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }

a.post-link {
  display: inline;
  font-size: 15px;
}

.post-list > li {
  margin-bottom: 10px;
}

blockquote {
  color: $text-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  margin-left: $spacing-unit;
  font-size: 16px;
  letter-spacing: normal;
  font-style: normal;
}

.post-title {
  line-height: 1.2;
}

// legacy posts
h2 > a, h2 > a:hover, div#footnotes > p > sup > a {
    color: $text-color;
    text-decoration: none;
}

div#footnotes > p {
    font-style: italic;
}

.post-content h3 {
    font: 14px/20px Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

img[src$='#center'] {
    margin: auto;
    display: block;
}

.annotation {
    font-size: small;
    font-style: italic;
    color: rgb(170, 170, 170);
}
